{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" >

<head>
<meta charset="utf-8" />
<title>{% block title %}BookStore{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
data-bs-target="#navbarScroll" aria-controls="navbarScroll"
aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarScroll">
<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/" style="color: white">خانه</a>
</li>

{% if user.is_authenticated %}
<a type="button" role="button" href=""
class="btn btn-outline-secondary border-0 basket-btn">
<div class="collapse navbar-collapse" id="navbarScroll">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="{% url "account:logout" %}" style="color: white">خروج</a>
</li>
{% else %}
<div class="collapse navbar-collapse" id="navbarScroll">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="{% url 'account:login' %}" style="color: white">ورود</a>
</li>
{% endif %}
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" style="color: white" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown">
دسته بندی ها
</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<li><a class="dropdown-item" href="{% url "store:product_all" %}">همه دسته بندی ها</a></li>
{% for c in categories %}
<li {% if category.slug == c.slug %}class="selected" {% endif %}>
<a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.title|title }}</a>
</li>
{% endfor %}
</ul>
</li>

<div class="collapse navbar-collapse" id="navbarScroll">
<a class="nav-link active" aria-current="page" href="{% url 'account:dashboard' %}" style="color: seagreen">
<i class="fa fa-user" style="font-size:24px"></i>
</a>
</div>
<li class="nav-item">
<a class="nav-link active" aria-current="page" style="color: white" href="{% url 'basket:basket_summary' %}">
{% with total_qty=basket|length %}
<div id="basket-qty" class="visible-md-inline-block">
{% if total_qty > 0 %}
{{ total_qty }}
{% endif %}
</div>
{% endwith %}
<i class="fa fa-shopping-cart" style="font-size:24px;color:seagreen"></i></a></li>
</ul>


<form class="d-flex" action="{% url 'store:search' %}">
    {% csrf_token %}
<input class="form-control me-2" type="search" placeholder="جستجو" name="q"><
<button class="btn btn-success" type="submit">جستجو</button>
</form>

</div>
</div>
</nav>
</header>


<div id="content">{% block content %} {% endblock %}</div>
</body>


</html>
