{% extends "base.html" %}
{% block title %}Edit Addresses{% endblock %}

{% block sub_content %}
<div class="col-6 mx-auto">
  <h1 class="h3">Create/Edit Address</h1>
  <div>Add a new delivery <b>address</b> and delivery preferences</div>
  <hr />
  <form name="address_form" class="account-form" method="post" enctype="multipart/form-data">
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
      Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small fw-bold">{{ form.title.label}}</label>
    {{ form.title }}
    <label class="small fw-bold">{{ form.auther.label}}</label>
    {{ form.auther }}
    <label class="small fw-bold">{{ form.price.label}}</label>
    {{ form.price }}
    <label class="small fw-bold">{{ form.image.label}}</label>
    {{ form.image }}
    <label class="small fw-bold">{{ form.description.label}}</label>
    {{ form.description }}
    <label class="small fw-bold">{{ form.inventory.label}}</label>
    {{ form.inventory }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw-bold w-100" type="button" value="Submit" onclick="submitForm()">
    Add Address
    </button>
  </form>

</div>

<script> 
function submitForm() {
   var form = document.getElementsByName('book_form')[0];
   form.submit(); // Submit the form
   form.reset();  // Reset all form data
   return false; // Prevent page refresh
}
</script>
{% endblock %}