{% extends "base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-dark">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h5">{{ product.title }}</h1>
                <p><span class="h6">{{ product.author }}</span><br> (نویسنده)</p>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">قیمت محصول</div>
                                {% if product.dis%}
                            <div class="col-6 text-end"><span class="h6 ">تومان {{ product.price }}</span></div>
                            <br>
                            <div class="col-6 text-end"><span class="h6 ">با احتساب تخفیف {{ product.price_after_dis }}</span></div>
                            {%elif product.discount_percent%}
                            <div class="col-6 text-end"><span class="h6 ">تومان {{ product.price }}</span></div>

                            <div class="col-6 text-end"><span class="h6 ">با احتساب تخفیف {{ product.percent_discount }}</span></div>
                            {%else %}
                            <div class="col-6 text-end"><span class="h6 ">تومان{{ product.price }}</span></div>
                            {%endif%}




                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                {% if user.staffs%}
                                    <label for="select">تعداد</label>
                                    {{ product.inventory }}
                                    {% else %}
                                <label for="select">تعداد</label>
                                <select id="select">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select>
                                {% endif %}
                            </div>
                         {% if user.customers %}
                            {% if product.inventory %}
                            <div class="col-6 text-end"><button type="button" id="add-button" value="{{ product.id }}" class="btn btn-success btn-sm">افزودن به سبد خرید</button></div>
                            {% else %}
                            <div class="col-6 text-end"><button type="button"  class="btn btn-danger btn-sm">ناموجود</button></div>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
    <script>
    $(document).on('click','#add-button',function (e) { e.preventDefault();
    $.ajax({
        type: 'POST',
        url:'{% url "basket:basket_add" %}',
        data:{
            productid:$('#add-button').val(),
            productqty:$('#select option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function (json){
            document.getElementById("basket-qty").innerHTML = json.qty

        },
        error: function (xhr,errmsg,err) {}
    });

    })
    </script>
{% endblock %}
